.main_card_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  .icon_card_section {
    margin-right: 1rem !important;
    svg {
      font-size: 50px;
    }
  }

  p {
    color: #fff;
    font-weight: 600;
  }
}

@media screen and (max-width: 1024px) {
  .ant-card {
    margin-bottom: 20px !important;
    .ant-card-grid {
      width: 100%;
      text-align: left !important;
      padding: 15px 20px !important;
      .icon_card_section {
        svg {
          font-size: 30px !important;
        }
      }
    }
  }
  .f-w {
    h2 {
      font-size: 16px !important;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 350px) {
  .ant-card-grid {
    width: 100% !important;
    text-align: left !important;
  }
}
@media screen and (min-width: 351px) and (max-width: 1024px) {
  .ant-card-grid {
    width: 43% !important;
    text-align: left !important;
  }
}

.switch_btn1 {
  margin-bottom: 12px;

  .ant-row.ant-form-item-row {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between !important;
  }

  .ant-col.ant-form-item-control {
    flex-grow: unset;
    flex: 0 0;
  }

  .ant-switch {
    height: 20px;
    min-width: 39px;
  }
  .ant-switch.ant-switch-checked {
  }

  .ant-switch .ant-switch-handle {
    width: 16px;
    height: 16px;
  }
}

.modal_dash {
  .ant-modal-content {
    padding: 20px 30px !important;
    .ant-modal-title {
      h1 {
        font-size: 18px;
      }
    }
    .ant-modal-body {
      margin-top: 25px;
    }
  }
}

.gx-mb-0 {
  font-size: 13px !important;
  font-weight: 500 !important;
}

.dash_card {
  .ant-card-body {
    gap: 13px 0px;
  }
}

.modal_opne_dash {
  .ant-card {
    margin-bottom: 15px !important;
    box-shadow: unset !important;
  }
  .gx-card-widget {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
  }
  .gx-card-full {
    overflow: hidden;
  }
  .gx-card-widget.ant-card-bordered {
    border: 0;
  }
  .ant-card-body {
    padding: 0 !important;
  }
  .gx-bg-transparent {
    background-color: initial !important;
  }
  .gx-fillchart {
    position: relative;
    color: #ffffff;
    min-height: 90px;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    transition: all 0.7s ease-out;
  }
  .gx-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .gx-flex-column,
  .gx-flex-nowrap {
    flex-wrap: nowrap !important;
  }
  .gx-align-items-center {
    align-items: center !important;
  }
  .gx-fillchart-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 15px 20px;
  }
  .gx-overlay-fillchart .gx-fillchart-content {
    background-color: var(--bg-color);
    border-radius: 20px;
  }
  .gx-media-body {
    flex: 1 1;
  }
  .gx-text-white {
    color: #ffffff !important;
  }
  .gx-fs-lg {
    font-size: 16px;
    line-height: 1;

    @media (max-width: 1024px) {
      font-size: 14px !important;
    }
  }
  .gx-text-capitalize {
    text-transform: capitalize;
  }
  .gx-font-weight-semi-bold {
    font-weight: 600;
  }

  .gx-text-capitalize {
    text-transform: capitalize;
  }
  .ant-col {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.antd_dsh_madals {
  padding: 0 0 24px !important;
  .ant-modal-content {
    padding: 0 !important;
    .ant-modal-body {
      padding: 24px 12px !important;
    }
    .anticon {
      svg {
        color: #000;
      }
    }
  }
  .ant-modal-footer {
    padding: 10px 16px;
    margin: 0px;
    text-align: right;
    background: transparent;
    border-top: 1px solid #e8e8e8;
    &::after {
      display: none;
    }
  }
  .gx-bg-grey {
    background-color: var(--bg-color) !important;
  }
}

.gx-mr-xl-3 {
  margin-right: 10px !important;
  svg {
    font-size: 35px;
  }
}
.main_dash_class {
  padding: 32px 16px 0;
  @media screen and (max-width: 575px) {
    padding: 20px 0px 0;
  }
  .ant-card {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #545454;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.3;
    list-style: none;
    font-feature-settings: "tnum", "tnum";
    position: relative;
    background: #fff;
    border-radius: 6px;
  }
  // .gx-media {
  //   img {
  //     height: 20px;
  //   }
  // }

  .gx-bg-transparent {
    background-color: initial !important;
  }
  @media screen and (max-width: 575px) {
    .ant-card {
      margin-bottom: 20px;
    }
  }

  .gx-fillchart {
    position: relative;
    color: #ffffff;
    min-height: 90px;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-align-items: flex-end;
    align-items: flex-end;
    transition: all 0.7s ease-out;
    @media screen and (max-width: 767px) {
      position: relative;
      color: #ffffff;
      min-height: 70px;
      display: -ms-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      -ms-align-items: flex-end;
      align-items: flex-end;
      transition: all 0.7s ease-out;
    }
  }

  .gx-fillchart-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      padding: 15px 20px;
    }
  }
  .gx-overlay-fillchart .gx-fillchart-content {
    background-color: var(--bg-color);
    border-radius: 20px;
  }

  .colo_name {
    padding-left: 15px;
    padding-right: 15px;
  }
  .ant-card {
    margin-bottom: 32px;
  }
  .gx-fs-lg {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0.5em;
    @media (max-width: 800px) {
      font-size: 14px !important;
    }
  }
  .gx-text-capitalize {
    text-transform: capitalize;
  }
}
