.marque_section {
  background: var(--bg-color);
  padding: 5px 4px;
  color: #fff;
  // z-index: 9999;
  // margin-left: 2px;

  border: 1px solid #fff;
}

@media screen and (max-width: 1024px) {
  .marque_section {
    margin-left: unset;
  }
}
