.marque_section {
    background: #7d5c0e;
    padding: 5px 4px;
    color: #fff;
    // z-index: 9999;
    // margin-left: 2px;

    border: 1px solid #fff;
}


@media screen and (max-width: 800px) {
    .marque_section {
        margin-left:unset;
    }
}