.profit_apply {
  //   display: flex;
  align-items: center;
  .profit_date {
    margin: 18px 15px;
    .ant-picker.ant-picker-range {
      width: 100%;
    }
  }

  .text-center {
    text-align: center;
  }
  .apply_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    .search_icon {
      margin-right: 5px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
.btn_apply {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .profit_apply {
    .text-center {
      margin-bottom: 15px;
      margin-top: -2px;
    }

    .mb-2 {
      margin-bottom: -6px;
      margin-top: -20px;
    }
  }
}

.profit_loss {
  .ant-card-head-title {
    font-size: 20px !important;
  }
}

.ant-picker {
  height: 36px;
}

.ant-btn-danger {
  color: #fff;
  border-color: #f5222d;
  background: #f5222d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  padding: 9px 12px;
  border: unset;
  outline: unset;
  font-size: 14px;
}

.apply_btn1 {
  color: #fff;
  background-color: #038fde;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  text-align: center;
  padding: 9px 12px;
  border: unset;
  outline: unset;
  font-size: 14px;
}
