@media screen and (max-width: 1024px) {
  .close_btn {
    display: none;
  }
  .dis-none {
    display: block;
    margin-left: 12px;
  }
  .bm_side_logo {
    display: none;
  }
  .mob_view_sidebar {
    display: block !important;
  }
  header {
    height: 50px !important;
    display: flex;
    align-items: center;
  }
  .mob_side {
    display: block !important;
    .open_btn {
      position: absolute;
      .sub_open_btn {
        border: unset !important;
        outline: unset !important;
        margin-top: 9px;
        margin-left: 10px;
        position: fixed;
        z-index: 22;
        svg {
          color: #fff;
          font-size: 26px;
          display: flex;
          align-items: center;
          z-index: 22;
          position: absolute;
          left: 0;
          top: 7px;
        }
      }
    }
  }
  .desk_view {
    display: none;
  }

  .drawer_main {
    .ant-drawer-wrapper-body {
      background-color: var(--bg-color);
      color: #fff !important;
      .ant-drawer-header {
        background-color: rgba(0, 0, 0, 0.3);
        height: 50px;
        .ant-drawer-title {
          color: #fff;
          img {
            height: 35px;
            margin-top: 6px;
          }
        }
      }
      .ant-drawer-body {
        ul {
          margin-top: -30px;
          margin-left: -12px;
          color: #fff;
          .ant-menu-item,
          .ant-menu-submenu {
            svg {
              font-size: 23px;
            }
            .ant-menu-title-content {
              font-weight: 600;
              margin-top: 5px;
              text-transform: uppercase;
            }
            .ant-menu-sub {
              margin-top: 0px;
              margin-left: 8px;
            }
            &:hover {
              color: #fa8c15;
            }
            i {
              position: absolute;
              left: 7px;
              top: 21px;
            }
          }
        }
      }
    }
  }
  .ant-drawer {
    .ant-drawer-body {
      margin: 24px -18px !important;
      ul {
        margin-top: -30px;
        margin-left: 0px !important;
        color: #fff;
      }
    }
  }
}
.mob_view_sidebar {
  display: none;
}
.mob_side {
  display: none;
}

// header.ant-layout-header{
//   z-index: 99999 !important;
// }

.data_report_list {
  .ant-menu-inline {
    .ant-menu-submenu {
      .ant-menu-submenu-title {
        .ant-menu-submenu-arrow {
          margin-left: 24px;
        }
        .ant-menu-title-content {
          text-transform: uppercase;
        }
      }
    }
    .ant-menu-item {
      .ant-menu-title-content {
        text-transform: uppercase;
      }
    }
  }
}

.side_bar {
  .ant-menu-title-content {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 700;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .ant-menu-item-icon,
  .ant-menu-submenu-arrow {
    color: rgba(255, 255, 255, 0.65);
  }
  .ant-menu-item,
  .ant-menu-submenu-title {
    padding-left: 16px !important;
    padding-right: 24px !important;
  }
  .ant-menu-submenu-title {
    display: flex;
    align-items: center;
  }
  .ant-menu-item-icon {
    order: 0;
  }
  .ant-menu-title-content {
    order: 1;
  }
  .ant-menu-submenu-arrow {
    position: static;
    order: 2;
    margin-left: auto;
  }
  .ant-menu a {
    color: inherit;
  }
  a {
    color: inherit;
  }
  .ant-menu-item-selected,
  .ant-menu-item-active,
  .ant-menu-submenu-selected,
  .ant-menu-submenu-active {
    .ant-menu-title-content {
      color: rgba(255, 255, 255, 0.65);
      font-weight: 700;
      font-size: 18px;
    }
  }
}

.side_bar.ant-layout-sider-collapsed {
  .ant-menu-title-content {
    display: none !important;
  }
}

.gx-icon-btn {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 2px;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  cursor: pointer;
}
