.fancy_data_sess {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .fancy_btn {
    margin-left: 8px;
  }
}

.session_bet {
  .table_section {
    table {
      tr {
        &:nth-child(even) {
          background-color: unset;
        }
      }
    }
  }
}

.match_bets_report {
  margin: 30px 80px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  @media (max-width: 800px) {
    margin: 20px 15px;
  }
  .ant-card-head-title {
    font-size: 24px !important;
    @media (max-width: 800px) {
      font-size: 20px !important;
    }
  }
}

.fancy_data_sess {
  .ant-form-item-label {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .ant-select-in-form-item {
    margin: 0px !important;
  }
}

.statement_tabs_data {
  td {
    color: #595959 !important;
    font-weight: 600 !important;
  }
}

.gx-text-uppercase {
  text-transform: uppercase !important;
}
.gx-bg-flex {
  display: flex !important;
}
.gx-justify-content-between {
  justify-content: space-between !important;
}
.gx-align-items-center {
  align-items: center !important;
}
.gx-w-100 {
  width: 100% !important;
}
.gx-justify-content-center {
  justify-content: center !important;
}

.gx-overflow-auto {
  overflow: auto;
}

.gx-fillchart {
  position: relative;
  color: #ffffff;
  min-height: 90px;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-align-items: flex-end;
  align-items: flex-end;
  transition: all 0.7s ease-out;
}

.gx-media {
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.gx-mt-3,
.gx-my-3 {
  margin-top: 1rem !important;
}

.gx-mb-3,
.gx-my-3 {
  margin-bottom: 1rem !important;
}

.gx-pr-3,
.gx-px-3 {
  padding-right: 1rem !important;
}

.gx-pl-3,
.gx-px-3 {
  padding-left: 1rem !important;
}
.ant-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.gx-media-body {
  flex: 1 1;
}
.gx-font-weight-bold {
  font-weight: 700;
}
.gx-fs-xl {
  font-size: 20px !important;
  line-height: 1;
}

.gx-text-nowrap {
  white-space: nowrap !important;
}

.gx-flex {
  display: flex !important;
  gap: 10px;
}

.mb-5 {
  margin-bottom: 10px;
}

.mp-5 {
  margin-top: 10px;
}
