.casino_oddsss {
  .gx-card-widget {
    margin-top: 25px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
  }
  .gx-pl-4,
  .gx-px-4 {
    padding-left: 1.5rem !important;
  }
  .gx-pr-4,
  .gx-px-4 {
    padding-right: 1.5rem !important;
  }
  .gx-news-tags-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .gx-mb-3,
  .gx-my-3 {
    margin-bottom: 1rem !important;
  }
  .gx-pt-4,
  .gx-py-4 {
    padding-top: 1.5rem !important;
  }
  .ant-table .ant-table-thead > tr > th {
    background-color: var(--bg-color);
    color: #ffffff;
    border-radius: 0 !important;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 11px;
    padding: 8px;
    border-right: 1px solid #e8e8e8;
  }
  .ant-table .ant-table-tbody > tr > td {
    padding: 3px 8px;
  }
}

.total_extra {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
  span {
    color: red;
  }
}
