.limit_update {
  .ant-table-thead {
    background-color: #73766f !important;
    th.ant-table-cell {
      background: #7d5c0e !important;
      padding: 5px 10px !important;
      color: #fff !important;
      &:first-child {
        border-radius: unset !important;
        width: 8%;
      }
      &:nth-child(2) {
        width: 10%;
      }
      &:nth-child(3) {
        width: 10%;
      }
      &:last-child {
        border-radius: unset !important;
      }
      svg {
        color: #bfbfbf;
      }
    }
  }
  td.ant-table-cell {
    padding: 8px !important;
    .ant-form-item {
      padding: 0;
      margin: 11px;
    }
  }
  .ant-input {
    color: #545454;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }
  // tr {
  //   &:nth-child(even) {
  //     background: #f1f1f1;
  //   }
  // }
  tbody {
    tr {
      td {
        text-transform: capitalize;
        .minus_btn {
          .add {
            color: #fff;
            background-color: #038fde;
            border-color: #038fde;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
            color: #ffffff !important;
            background-color: #038fde !important;
            border-color: #038fde !important;
            border-radius: 2px;
            margin-right: 15px;
            outline: unset;
            line-height: 2px;
            padding: 18px 14px;
            font-weight: 400;
          }
          .minus {
            color: #fff;
            background-color: #038fde;
            border-color: #038fde;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
            color: #ffffff !important;
            background-color: #7d5c0e !important;
            border: 1px solid #ff4d4f;
            border-radius: 2px;
            outline: unset;
            line-height: 2px;
            padding: 18px 12px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.add_minus {
  .ant-tabs-nav-list {
    margin-left: 13px;
  }
}

.mwt {
  margin: 0px;
  width: 100%;
  .ant-form-item {
    margin-bottom: 7px;
  }
}

.minus_btn {
  .add {
    color: #fff;
    background-color: #038fde;
    border-color: #038fde;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    color: #ffffff !important;
    background-color: #038fde !important;
    border-color: #038fde !important;
    border-radius: 2px;
    margin-right: 15px;
    outline: unset;
    padding: 8px 14px;
    font-weight: 600;
  }
  .minus {
    color: #fff;
    background-color: #038fde;
    border-color: #038fde;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    color: #ffffff !important;
    background-color: #7d5c0e !important;
    border-color: #ff4d4f;
    border-radius: 2px;
    outline: unset;
    padding: 4px 8px;
    padding: 8px 14px;
    font-weight: 600;
  }
}

.add_minus {
  margin-top: 5px;
  .ant-tabs-tab-btn {
    color: #fff !important;
    border-radius: 2px !important;
    padding: 4px;
  }
  .ant-tabs-tab {
    width: 150px;
    padding: 0px 0px !important;
    text-align: center;
    display: block;
    &:nth-child(1) {
      background: green;
    }
    &:nth-child(2) {
      background: red;
    }
  }
}

@media screen and (max-width: 370px) {
  .add_minus {
    .ant-tabs-tab {
      width: 125px !important;
    }
  }
}

.limit_update {
  tr {
    th,
    td {
      text-transform: capitalize !important;
    }
  }
}

.update_limit {
  margin: -3px 31px;
}
