.sport_detail {
  background-color: #fff !important;
  margin: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  @media (max-width: 1024px) {
    margin: 20px 0px;
  }
  .rejected_row {
    margin: 0px 0px 12px 30px;
    .ant-select-selector {
      width: 100%;
    }
  }

  .ant-card-head {
    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: #fff;

    border-bottom: 1px solid #e8e8e8;
    border-radius: unset;
    background: var(--bg-color) !important;
    .ant-card-head-title {
      padding: 14px 0px;
      font-weight: 500 !important;
      font-size: 20px;
    }

    .ant-card-extra button {
      text-decoration: none !important;
      background-image: none;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
      border-radius: 6px;
      color: #fff;
      background-color: #038fde;
      padding: 10px 14px;
      font-weight: 600;
      outline: unset;
      border: unset;
    }
  }
  .ant-card-body {
    padding: 0px !important;
    border-radius: 0 0 8px 8px;
  }
  .date_picker {
    display: flex;
    // justify-content: center;
    // align-items: center;
    .ant-picker {
      border: 1px solid #ddd !important;
      border-radius: 2px !important;
      height: 36px;
      // padding-left: 51px !important;
    }
  }
  .table_section {
    position: relative;
    overflow: scroll;
    background: #fff;
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      // margin-top: 12px;

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        text-transform: capitalize !important;
      }
      th {
        background-color: var(--bg-color);
        color: #ffffff;
        border-radius: 0 !important;
        padding: 10px 5px;
        text-transform: uppercase;
        font-weight: 500;
      }
      tr {
        td {
          font-size: 14px;
          text-transform: uppercase;
          // white-space: nowrap;
        }
        .setting_btn {
          background: rgb(82, 196, 26) !important;
          padding: 4px 7px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          border: unset;
          outline: unset;
        }
        p.ant-dropdown-trigger.table_dropdown {
          position: static;
        }
        .ant-space-item {
          background: #038fde;
          color: #fff;
          padding: 0px 3px !important;
          height: 18px !important;
          line-height: 18px;
          border-radius: 3px;
          border-radius: unset;
          // margin-right: 7px;
          .anticon {
            font-size: 14px;
            margin-top: -12px;
            svg {
              margin-top: -12px;
            }
          }
        }
        .text-right {
          text-align: right;
        }
        .text-left {
          text-align: left;
        }
      }
      // tr:nth-child(even) {
      //   background-color: #f1f1f1;
      // }
    }
    .ant-dropdown {
      position: static !important;
    }
  }
}

.ant-modal-content {
  border-radius: 2px !important;
  padding: 24px 30px !important;

  .ant-modal-confirm-title {
    color: #535353 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  .ant-modal-confirm-btns {
    margin-top: 23px;
    .ant-btn-default {
      background: var(--btn-bg-color) !important;
      color: #fff;
      border-radius: 2px;
      border: unset;
      outline: unset;
      margin-right: 14px;
    }
    .ant-btn-primary {
      background: #038fde !important;
      color: #fff;
      border-radius: 2px;
      border: unset;
      outline: unset;
    }
  }
}

.title_section {
  font-weight: 600 !important;
  color: #545454 !important;
}

.pagination_main {
  float: right;
  font-size: 13px;
  color: #545454 !important;
  .ant-pagination-item-active {
    font-weight: 500;
    background-color: #ffffff !important;
    border-color: #038fde !important;
    color: #038fde !important;
  }
}

@media screen and (max-width: 1024px) {
  .sport_detail {
    margin: 0px !important;
    margin-inline: 2%;
    .rejected_row {
      margin: 0px 0px 0px 0px;
      .ant-select-selector {
        width: 100%;
      }
      .ant-select-single {
        font-size: 14px !important;
        width: 94% !important;
        margin: 7px 2% !important;
      }
    }
    // .ant-picker {
    //   width: 96% !important;
    //   margin-inline: 2%;
    // }
    .ant-space-item {
      margin-left: 0px !important;
    }
  }
  .datepicker_sport {
    padding-top: 10px !important;
  }
}
.button.ant-pagination-item-link {
  svg {
    color: #000;
  }
}

.sport_droupdown {
  .ant-space-item {
    background: #038fde;
    color: #fff;
    padding: 1px 6px !important;
    border-radius: 3px;
    // margin-left: -12px;
  }
}

.sport_list {
  padding: 0px !important;

  .ant-dropdown-menu-item {
    padding: 2px 11px !important;
    border-radius: unset !important;
    &:hover {
      color: #fff !important;
      background: #038fde !important;
      border-radius: unset !important;
    }
  }
}
.sport_select {
  padding: 10px;
  width: 100%;
  .ant-select-selector {
    height: 41px !important;
    padding: 4px 14px !important;
  }
  .ant-select-arrow {
    padding-right: 12px;
  }
}

// .overlay_layout {
//   height: 100%;
//   overflow-y: scroll;
//   width: 100%;
//   position: absolute;
//   background: transparent;
//   z-index: 1;
// }

.in_play_btn {
  font-size: 12px;
  padding: 0px 7px;
  border-radius: unset;
  height: 22px;
  span {
    padding: 0;
  }
}

.gx-bg-orange {
  background-color: #fa8c16 !important;
}

.gx-text-white {
  color: #fff !important;
}

.ant-table-thead {
  td {
    background-color: var(--bg-color) !important;
  }
}
