body {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' !important;
  color: #545454;
}

* {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' !important;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  position: absolute;
  top: 50%;
  inset-inline-end: 0;
  width: 1px;
  height: 100%;
  background-color: #f0f0f0;
  transform: translateY(-50%);
  transition: background-color 0.2s;
  content: "";
}

.exposure {
  th.ant-table-cell {
    color: #fff !important;
    white-space: nowrap !important;
  }
  td.ant-table-cell {
    &:first-child {
      min-width: 250px !important;
    }
    &:nth-child(5) {
      min-width: 200px !important;
    }
    border: 1px solid #ebeaea;
  }
}

:root {
  --login-bg: rgb(183, 134, 47);
  --bg-color: rgb(183, 134, 47);
  --btn-bg-color: rgb(183, 134, 47);
  --header-bg: rgb(183, 134, 47);
  --login-wrap: #8b8f87;
  --fancy-tab: #5a420a;
}

[data-theme="kohinoor"] {
  --login-bg: linear-gradient(#1b0013 0, #380023);
  --bg-color: #380023;
  --btn-bg-color: #380023;
  --header-bg: #380023;
  --login-wrap: #8b8f87;
  --fancy-tab: #390023a3;
}
[data-theme="nsgpro"] {
  --login-bg: #010f0f;
  --bg-color: #094507;
  --btn-bg-color: #094507;
  --header-bg: #094507;
  --login-wrap: rgb(11, 27, 22);
  --fancy-tab: #0a4508cf;
}
