body {
  font-family: "Arial", sans-serif;
  color: #545454;
}

* {
  font-family: "Arial", sans-serif !important;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
:where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  position: absolute;
  top: 50%;
  inset-inline-end: 0;
  width: 1px;
  height: 100%;
  background-color: #f0f0f0;
  transform: translateY(-50%);
  transition: background-color 0.2s;
  content: "";
}

.exposure {
  th.ant-table-cell {
    color: #fff !important;
    white-space: nowrap !important;
  }
  td.ant-table-cell {
    &:first-child {
      min-width: 250px !important;
    }
    &:nth-child(5) {
      min-width: 200px !important;
    }
    border: 1px solid #ebeaea;
  }
}

:root {
  --login-bg: #7d5c0e;
  --bg-color: #7d5c0e;
  --btn-bg-color: #7d5c0e;
  --header-bg: #7d5c0e;
  --login-wrap: #8b8f87;
  --fancy-tab: #5a420a;
}

[data-theme="kohinoor"] {
  --login-bg: linear-gradient(#1b0013 0, #380023);
  --bg-color: #380023;
  --btn-bg-color: #380023;
  --header-bg: #380023;
  --login-wrap: #8b8f87;
  --fancy-tab: #390023a3;
}
[data-theme="nsgpro"] {
  --login-bg: #010f0f;
  --bg-color: #094507;
  --btn-bg-color: #094507;
  --header-bg: #094507;
  --login-wrap: rgb(11, 27, 22);
  --fancy-tab: #0a4508cf;
}

.ant-layout-sider-children {
  ul.ant-menu.ant-menu-root {
    // margin-top: 80px !important;
    margin-left: 11px;
    color: #fff;
    .ant-menu-submenu-title:hover {
      color: #fa8c15;
      background-color: transparent;
    }
    li {
      .ant-menu-submenu-arrow {
        position: absolute;
        left: 8px;
        top: 21px;
      }
      svg.ant-menu-item-icon {
        font-size: 25px;
      }
    }
  }
}

.ant-menu-sub {
  background: var(--bg-color) !important;
  border-radius: unset !important;
  color: #fff;
  width: 91%;
  margin-left: 12px !important;
}

.coll_btn {
  width: 280px !important;
  min-width: 280px !important;
  max-width: 280px !important;
  height: 72px;
}

.logo_icon {
  // background: rgb(81 82 78);
  background: rgba(0, 0, 0, 0.3);
  // position: absolute;
  transition: 5s ease-in;
  display: flex;
  align-items: center;
  left: 0;
  z-index: 2;
  .anticon svg {
    font-size: 20px !important;
  }
  .bm_side_logo {
    // width: 100px;
    // height: 104px;
    cursor: pointer;
    img {
      width: 112px;
      margin-top: 6px;
      margin-left: -12px;
    }
  }
  .bm_side_logo_mob {
    width: 100px;
    height: 63px;
    img {
      width: 100%;
      margin-top: 12px;
      margin-left: 4px;
    }
  }
  .d-none {
    display: none !important;
    transition: 0.5s;
  }
}

@media screen and (min-width: 340px) and (max-width: 400px) {
  .ml {
    margin-left: 21px !important;
  }
}
@media screen and (min-width: 401px) and (max-width: 1024px) {
  .ml {
    margin-left: 67px !important;
  }
}
.nav {
  width: 100%;
  img {
    display: none;
  }
}

@media screen and (min-width: 501px) and (max-width: 3000px) {
  p.ant-dropdown-trigger {
    // float: right;
    // position: absolute;
    top: 3px;
    right: 31px;
    .ant-space-align-center {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    }
  }
  // .ant-dropdown {
  //   top: 47px  !important;
  // }
}
.sub_open_btn {
  display: none;
}

@media screen and (max-width: 1024px) {
  .logo_icon {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-left: 55px;
    width: 100%;
    img {
      // width: 80px;
      // margin-top: 28px;
      display: initial !important;
    }
    p.ant-dropdown-trigger {
      text-decoration: none;
      color: #fff;
      font-weight: 600;
    }
    .sub_open_btn {
      display: block !important;
      font-size: 23px;
      color: #fff;
    }
  }

  // .ant-dropdown {
  //     top: 36px ;
  // }
}

.nav_manu {
  display: flex;
  justify-content: start;
  align-items: center;
  .nav_image {
    img {
      width: 100px;
      margin-top: 16px;
      margin-left: 12px;
    }
  }
  .menu_icon {
    svg {
      font-size: 18px;
      margin-left: 12px;
    }
  }
}

.nav_manu {
  display: none;
}
.nav1 {
  width: 55px;
  float: left;
}

.ant-dropdown {
  // position: absolute;
  ul {
    border-radius: unset !important;
    li {
      padding: 0px 10px !important;
      line-height: 30px !important;
      color: #545454 !important;
      font-weight: 600 !important;
      padding: 0px 11px !important;
    }
  }
}
.change_pass {
  .ant-modal-footer {
    margin-bottom: -10px;
    margin-top: -8px !important;
    &::after {
      content: "";
      position: absolute;
      background: #e8e8e8;
      left: 0;
      width: 100%;
      height: 1px;
      bottom: 58px;
    }
  }
  .ant-modal-title {
    position: relative;
    z-index: 2;
    color: #fff !important;
    font-weight: 500 !important;
  }
  .ant-modal-header {
    margin-top: -9px;
    margin-bottom: 30px;
  }
  .ant-btn-default {
    background: var(--btn-bg-color) !important;
    color: #fff;
    border-radius: 2px;
    border: unset;
    outline: unset;
    margin-right: 14px;
  }
  .ant-btn-primary {
    background: #038fde !important;
    color: #fff;
    border-radius: 2px;
    border: unset;
    outline: unset;
  }
  svg {
    color: #fff;
  }
  .ant-modal-header {
    &::after {
      content: "";
      height: 52px;
      width: 100%;
      position: absolute;
      background: var(--bg-color);
      color: #fff;
      top: 0;
      left: 0;
    }
  }
  .ant-modal-content {
    border-radius: 2px !important;
    padding: 24px 23px !important;
  }
  .ant-input-affix-wrapper {
    padding: 0px 11px !important;
    border-radius: 2px;
    input.ant-input {
      height: 20px;
      border-radius: 0 !important;
    }
  }
  .ant-form-item {
    margin-bottom: 15px;
  }
}

.ch_pass {
  margin-bottom: -16px;
  input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    width: 100%;
    height: 35px;
    margin: 8px 0px;
    padding: 0 8px;
  }
  .change_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .ant-form-item {
      margin: 12px;
    }
    .return {
      background: var(--bg-color) !important;
      color: #fff;
      border-radius: 2px;
      border: unset;
      outline: unset;
      margin-right: 14px;
    }
  }
}

ul.nav_droupdown {
  margin: -25px 2px !important;
}

p.ant-dropdown-trigger.user_deatils.droup_nav {
  display: flex;
  justify-content: end;
  align-items: baseline;
  p {
    margin: 2px;
  }
}

@media screen and (max-width: 1024px) {
  p.user_deatils {
    margin-right: 6px !important;
  }

  .mob_side {
    button.ant-btn {
      // svg{
      //   z-index: 999999 !important;
      // }
    }
  }
}

.ant-drawer {
  position: fixed;
  inset: 0;
  // z-index: 999999 !important;
  pointer-events: none;
}

.sub_menu_nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0px 32px;
  @media (max-width: 1024px) {
    justify-content: space-between;
    padding: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .close_btn {
    display: none;
  }
  .dis-none {
    display: block;
    margin-left: 12px;
  }
  .bm_side_logo {
    display: none;
  }
  .mob_view_sidebar {
    display: block !important;
  }
  header {
    height: 50px !important;
    display: flex;
    align-items: center;
  }
  .mob_side {
    display: block !important;
    .open_btn {
      position: absolute;
      .sub_open_btn {
        border: unset !important;
        outline: unset !important;
        margin-top: 9px;
        margin-left: 10px;
        position: fixed;
        z-index: 22;
        svg {
          color: #fff;
          font-size: 26px;
          display: flex;
          align-items: center;
          z-index: 22;
          position: absolute;
          left: 0;
          top: 7px;
        }
      }
    }
  }
  .desk_view {
    display: none;
  }

  .drawer_main {
    .ant-drawer-wrapper-body {
      background-color: var(--bg-color);
      color: #fff !important;
      .ant-drawer-header {
        background-color: rgba(0, 0, 0, 0.3);
        height: 50px;
        .ant-drawer-title {
          color: #fff;
          img {
            height: 35px;
            margin-top: 6px;
          }
        }
      }
      .ant-drawer-body {
        ul {
          margin-top: -30px;
          margin-left: -12px;
          color: #fff;
          .ant-menu-item,
          .ant-menu-submenu {
            svg {
              font-size: 23px;
            }
            .ant-menu-title-content {
              font-weight: 600;
              margin-top: 5px;
            }
            .ant-menu-sub {
              margin-top: 0px;
              margin-left: 8px;
            }
            &:hover {
              color: #fa8c15;
            }
            i {
              position: absolute;
              left: 7px;
              top: 21px;
            }
          }
        }
      }
    }
  }
  .ant-drawer {
    .ant-drawer-body {
      margin: 24px -18px !important;
      ul {
        margin-top: -30px;
        margin-left: 0px !important;
        color: #fff;
      }
    }
  }
}
.mob_view_sidebar {
  display: none;
}
.mob_side {
  display: none;
}

// header.ant-layout-header{
//   z-index: 99999 !important;
// }

.data_report_list {
  .ant-menu-inline {
    .ant-menu-submenu {
      .ant-menu-submenu-title {
        .ant-menu-submenu-arrow {
          margin-left: 24px;
        }
      }
    }
  }
}

.gx-icon-btn {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 2px;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  cursor: pointer;
}

.deposit_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .ant-form-item {
    margin: 12px;
  }
  &::after {
    content: "";
    border-top: 1px solid #ddd;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 58px;
  }
  .gx-bg-grey {
    background-color: var(--bg-color) !important;
  }
}

.modal_deposit {
  .ant-modal-content {
    border-radius: 2px !important;
    padding: 0px 30px !important;
  }
}

.betting_icon {
  min-height: unset !important;
}

textarea.ant-input {
  max-width: 100%;
  height: auto;
  min-height: 36px;
  line-height: 1.3;
  vertical-align: bottom;
  transition:
    all 0.3s,
    height 0s;
  padding: 20px 13px 0px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.modal_reset_pass {
  .ant-modal-header {
    margin-top: -24px;
  }
  .ant-modal-title {
    span {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .ant-modal-body {
    padding: 18px 0px;
  }
}

.pri_button {
  padding: 5px 12px;
  border-radius: 5px;
}
