.setting_main {
  .setting_data1 {
    background: #7d5c0e;
    margin-right: 13px;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 0px;
    border-radius: 10px;
    A {
      font-size: 16px;
    }
  }
  .setting_data {
    background: #7d5c0e;
    margin: 12px 13px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 0px;
    border-radius: 10px;
    cursor: pointer;

    p {
      color: #fff;
      text-align: center;
      cursor: pointer;
      font-size: 16px;
    }
    a {
      text-align: center;
      font-size: 16px;
    }
  }
  .setting_detail {
    background-color: #fff !important;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: -4px;

    .ant-card-body {
      padding: 0px !important;
      border-radius: 0 0 8px 8px;
      .table_section {
        overflow-x: scroll;
        background-color: #fff;
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          th {
            background: #7d5c0e;
            color: #fff;
            padding: 0 3px;
            border-right: 1px solid #e8e8e8;
            text-align: left;
          }
          tr {
            border-right: 1px solid #e8e8e8;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .setting_main {
    .setting_detail {
      margin-left: 0px;
    }
    .ant-card-body {
      padding: 0 5px;
    }
    .setting_data1 {
      margin-left: unset;
      font-weight: 600;
    }
    .setting_data {
      margin: 12px 13px 12px 0px;
      padding: 16px 9px;
      a,
      p {
        font-family: Arial;
        font-weight: 600;
        text-align: center;
      }
    }
    .mob_setting {
      margin-right: 0px;
    }
  }
}

.setting_table {
  th {
    color: #fff !important;
    padding: 5px 10px !important;
    font-weight: 500 !important;
  }
}

.user_search {
  margin: 30px 85px;
  @media (max-width: 800px) {
    margin: 20px 10px;
  }
  .user_section {
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .user_search_inp {
    width: 100%;
    height: 36px;
    border-radius: unset;
  }
  .show_btn_user {
    border-radius: unset;
    margin: 0px 10px;
    height: 36px;
  }
}

.hhh {
  background: linear-gradient(-180deg, #ff8c00, #f54c49 82%);
  border-radius: 10px;
}

.gx-fs-xl {
  font-size: 20px;
  line-height: 1;
}

.gx-font-weight-heavy {
  font-weight: 900;
}

.gx-font-weight-normal {
  font-weight: 400;
}

.gx-fs-lg {
  font-size: 16px;
  line-height: 1;
}

.gx-mt-2,
.gx-my-2 {
  margin-top: 0.5rem !important;
}

.gx-pt-2,
.gx-py-2 {
  padding-top: 0.5rem !important;
}

.gx-pr-2,
.gx-px-2 {
  padding-right: 0.5rem !important;
}
